body {
    font-family: Arial,Sans-Serif;
    background-color: #333333;
}
::selection{
    color:#C5C5C5;
    background-color:black;
}
html {
    scroll-behavior: smooth;
}
@media (min-width:600px) {
    .listmenu {
        position: absolute;
        right: 20px;

    }
}
.listmenu li a {
    padding: 7px 10px;
    background-color: #2A2A2A;
    text-decoration: none;
    color: aliceblue;
    border-radius: 3px;
}
.bar {
    box-shadow: 0 6px 13px rgba(0,0,0,0.55);
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    left: 0;
    background: linear-gradient(to right,#6A6A6A,#2B3941);
    z-index: 9999;
}
.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.bar img{
    height:60px;
}
ul li {
    list-style: none;
}
.drop-down {
    position: absolute;
    top: -7px;
    left: -44px;
}
.listmenu li {
    transform: translate(0,24px);
    display: inline-block;
    margin: 0 4px;

}
.btndrop {
    position: relative;
}
.listmenu li a:active {
    background-color: #ABABAB;
}
.listmenu li .active{
    background-color:#4D88AF;
}
.listmenu .drop-down li a:active {
    background-color: #353535;
}
.listmenu .drop-down li a:hover {
    background-color: #2B5402;
}
.btndrop:hover .drop-down li {
    display: block;
}
.drop-down li {
    margin-top: 14px;
    display: none;
}
.drop-down li a {
    background-color: #579914;
    box-shadow: 0 0 13px rgba(0,0,0,0.25);
}
.drop-down li .active{
    background-color:#274A04;
}
article {
    max-width: 600px;
    margin: 100px auto 0 auto;
}
.section {
    padding: 12px 12px 5px 12px;
    background-color: #545454;
    border-radius: 18px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.658);
    margin: 24px auto;
    display: block;
    border: solid 1.3px gray;
}
.section p {
    font-size: 15px;
    color: aliceblue;
}
.section h2 {
    color: #8BD2FF;
    border-bottom: solid 2px #292929;
}
.section a{
    color:#5410B6;
}
.section h2 i {
    color: white;
    font-size: 15px;
    background-color: black;
    border: 1.3px solid lime;
    border-radius: 3px;
    padding: 2px;
    transform: translate(0,-4px);
}
.section li i{
    color:white;
}
.section img {
    margin: 5px auto;
}
.landing {
    padding: 23px;
    font-size: 15px;
    color: aliceblue;
    padding: 100px 12px 300px 12px;
}
.landing a {
    text-align: left;
    padding: 6px 90px 6px 12px;
    font-size: 17px;
    color: #202020;
    background-color: #44ADFF;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.3s;
    position: relative;
    bottom: -40px;
}
.landing span{
    font-size:24px;
    text-decoration:none;
}
.landing a:hover {
    background-color: #A2D6FF;
    color: #0097FF;
}
.landing a i {
    position: absolute;
    right: 12px;
    top: 7.5px;
}
.landing p {
    text-decoration: underline #737373;
    margin-top: 20px;
    line-height: 20px;
}
.section span {
    font-size: 12px;
}
.section span a, .section p a {
    color: salmon;
}
.copy {
    text-align: center;
    width: 100%;
    transform: translate(-8px,6px);
    height: 200px;
    padding: 12px;
    background-color: #232323;
    color: #C8C8C8;
    font-size: 12px;
}
.copy span {
    display: block;
}
.copy span a {
    color: #B93600;
    font-weight: bold;
    text-decoration: none;
}
.command{
    background-color:#2C2C2C;
    padding:2px;
    border-radius:5px;
    color:white;
    margin-bottom:12px;
}
.command span{
    font-size:13px;
    font-family:monospace;
    color:#7BFF00;
}
.command b{
    user-select:none;
    font-size:13px;
    padding:4px 7px 4px 4px;
}
.command i{
    padding:2px;
    margin-left:2px;
}
.command i:active{
    background-color:#6C6C6C;
    border-radius:4px;
}
.command i span{
    color:white;
    font-weight:bold;
    font-family:arial;
    line-height:2px;
}
        .toast {
  position: fixed;
  top: 100px;
  right: 30px;
  background-color: #323C42;
  color: #FFE000;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
  border:solid 1px #B5B5B5;
}

.close-btn {
  float: right;
  background-color:#6A6A6A;
  padding:2px 7px;
  color:white;
  border-radius:5px;
  cursor: pointer;
  margin:0 0 0 10px;
}
.profile{
    margin-bottom:250px;
}
.profile img{
    margin:23px auto;
}
.profile span{
    display:block;
    color:aliceblue;
    font-family:courier;
}
.btnback{
    text-decoration:none;
    padding: 7px;
    color:aliceblue;
    border:1px #ABABAB solid;
    border-radius: 4px;
    font-size:17px;
}
.btnback:hover{
    background-color: darkgray;
    }
